.navbar, .card-body, .info{
    background-color: #6f42c1;/*#7747a7;/*#4f5acf;*/
}
.nav-link, .card-body, .info{
    color: white;
}
.info{
    height: 30px;
    margin-bottom: -45px;
}

@media(max-width:767px){
    .card{
        height: 505px;
        margin-bottom: 0px;
    }
     .info{
        margin-bottom: -30px;
    } 
}